
# Uncomment the push section to enable automatic builds on push to main branch
on:
 #workflow_dispatch:
  push:
    branches:
      - main

env:
  GODOT_VERSION: 4.6
  EXPORT_NAME: maskapp
  PROJECT_PATH: .
  DOCKER_IMAGE: barichello/godot-ci:4.6
  
jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-22.04
    container:
      image: barichello/godot-ci:4.6
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Templates
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Setup folders
        run: |
          mkdir -p .godot/editor .godot/imported
          mkdir -v -p builds/windows
          mkdir -v -p builds/web
          mkdir -v -p builds/linux
          mkdir -v -p builds/mac
      - name: Web Build
        run: |
          cd $PROJECT_PATH
          godot -v --headless --export-release "HTML5" ./builds/web/index.html
          echo ___CARPETA DE WEB___
          ls ../builds/web
      - name: Windows Build
        run: |
          cd $PROJECT_PATH
          godot -v --headless --export-release "Windows Desktop" ./builds/windows/$EXPORT_NAME
          cd ./builds/windows
          echo ___CARPETA DE WINDOWS PRE MV___ 
          ls
          mv $EXPORT_NAME "${EXPORT_NAME}.exe"
          zip "${EXPORT_NAME}_windows.zip" "${EXPORT_NAME}.exe"
          rm "${EXPORT_NAME}.exe"
          echo ___CARPETA DE WINDOWS___
          ls
      - name: Mac Build
        run: |
          cd $PROJECT_PATH
          mkdir -p ../builds/mac
          godot -v --verbose --headless --export-release "macOS" "./builds/mac/$EXPORT_NAME.app"
          cd ./builds/mac
          echo ___CARPETA DE MAC PRE ZIP___
          ls
          zip -r "${EXPORT_NAME}_mac.zip" "${EXPORT_NAME}.app"
          rm -rf "${EXPORT_NAME}.app"
          echo ___CARPETA DE MAC___
          ls
      - name: Linux Build
        run: |
          cd $PROJECT_PATH
          godot -v --headless --export-release "Linux/X11" ./builds/linux/$EXPORT_NAME
          cd ./builds/linux
          echo ___CARPETA DE LINUX PRE MV___
          ls
          mv $EXPORT_NAME "${EXPORT_NAME}.x86_64"
          zip "${EXPORT_NAME}_linux.zip" "${EXPORT_NAME}.x86_64"
          rm "${EXPORT_NAME}.x86_64"
          echo ___CARPETA DE LINUX___
          ls
      - name: Upload to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
          ITCH_GAME: ${{ secrets.ITCHIO_GAME }}
          ITCH_USER: ${{ secrets.ITCHIO_USERNAME }}
        run: |
          butler push builds/web $ITCH_USER/$ITCH_GAME:html5
          butler push builds/windows $ITCH_USER/$ITCH_GAME:windows
          butler push builds/mac $ITCH_USER/$ITCH_GAME:mac
          butler push builds/linux $ITCH_USER/$ITCH_GAME:linux
